<form action="{{action}}" class="note-form" method="post">
  <input type="hidden" name="_method" value="{{method}}">
  <div class="fields">
    {{#note}}
      <input type="text" name="note[title]" value="{{title}}" placeholder="title">
      <textarea name="note[body]" placeholder="body">{{body}}</textarea>
    {{/note}}
  </div>
  <div class="buttons">
    <input type="submit" value="Save">
  </div>
</form>
<form action="{{action}}" method="post">
  <input type="hidden" name="_method" value="delete">
  <div class="buttons delete">
    <input type="submit" value="Delete">
  </div>
</form>
