<script type="text/javascript" charset="utf-8">
  $(function(){
    function note(title, body) {
      
      return {
        title: ko.observable(title),
        body:  ko.observable(body),
        
      }
    }

    var viewModel = {
      currentNote: ko.observable(),
      notes: ko.observableArray(),
      makeCurrent: function(note){
        viewModel.currentNote(note);
      },
      addNote: function(evt){
        this.notes.push(new note("Untitled Note", ""));
        evt.stopPropagation;
        evt.prevetDefault;
        return false;
      }
    }
    
    <% @notes.each do |note| %>
      viewModel.notes.push(new note("<%= note.title %>", "<%= note.body %>"));
    <% end %>
    viewModel.currentNote(viewModel.notes()[0])
    ko.applyBindings(viewModel)
  });
</script>

<script id="noteItemTemplate" type="text/html" charset="utf-8">
  <li data-bind="click: function(){$item.makeCurrent($data)}"> ${ $data.title }</li>
</script>

<script id="noteTemplate" type="text/html">
 <form class="note-form">
    <div class="fields"> 
      <input id="note_title" size="30" type="text" data-bind="value: title"/> 
      <textarea cols="40" id="note_body" rows="20" data-bind="value: body"></textarea> 
    </div> 
  </form> 
 
  <form> 
    <div class="buttons delete"> 
     <input type="submit" value="Delete"> 
    </div> 
  </form>

</script>

<div id="note-list-container">
  <ul class="note-list" data-bind="template: {name: 'noteItemTemplate', 
                                              foreach: notes,
                                              templateOptions: {
                                                makeCurrent: makeCurrent
                                              } }">
  </ul>
  <div class="buttons">
    <a href="/notes/new" data-bind="click: addNote">+</a>
  </div>
</div>



<div id="note-form-container" data-bind="template: {name: 'noteTemplate', data: currentNote}">
</div>

